:root {
  --gray: #fcfcfc;
  --dark-gray: #686868;
  --midnight-blue: #1d212f;
  --light-gray: #eaeaea;
  --green: #015555;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--midnight-blue);
  background-color: var(--light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--green);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

h2 {
  font-size: 1.3em;
  line-height: 1.1;
}

h3 {
  font-size: 1em;
  margin: 0;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  color: var(--midnight-blue);
  cursor: pointer;
  transition: background-color 0.25s;
}

button.small {
  padding: 0.4em 0.8em;
  font-size: 0.8em;
}

button.medium {
  padding: 0.6em 1.2em;
  font-size: 1em;
}

button.large {
  padding: 0.8em 1.6em;
  font-size: 1.2em;
}

button.primary {
  background-color: var(--green);
  color: #fff;
}

button.secondary {
  border: 1px solid var(--green);
  background-color: var(--gray);
  color: var(--green);
}

button:hover {
  border: 1px solid var(--green);
  background-color: var(--gray);
  color: var(--green);
}

button.secondary:hover {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--gray);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}